.checkout_page {
  position: relative;

  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout_page .header_router {
  margin-top: 20px;
  width: 1320px;
  height: auto;

  display: flex;
  flex-direction: row;
}

.checkout_page .header_router a {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(4, 30, 66);
}

.checkout_page .title_div h1 {
  width: 116px;
  height: 40px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  color: rgb(4, 30, 66);
}

.checkout_page .checkout_frame {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.checkout_frame .container {
  position: relative;
  width: 1320px;
  height: auto;

  display: flex;
  flex-direction: row;
}

.checkout_frame .container .checkout_main {
  width: 858px;
  height: auto;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.checkout_main strong {
  width: 119px;
  height: 29px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: rgb(4, 30, 66);
}

.checkout_main .double_input_box {
  margin-top: 20px;
  width: 858px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.double_input_box .double_box {
  width: 413px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.checkout_page .double_box label,
.checkout_main .input_box label {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #041e42;
}

.checkout_page .double_box input,
.checkout_main .input_box input,
.checkout_main .select_box select {
  margin-top: 5px;
  padding: 0 15px;
  width: 100%;
  height: 55px;

  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;

  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #626974;
}

.checkout_page .checkout_main .input_box,
.select_box {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
