:root {
  --font: "jost";
}

html,
body {
  margin: o;
  padding: o;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.home_page .white_svg {
  filter: brightness(0) invert(1);
}

.container {
  width: 1320px;
  height: auto;

  display: flex;
  /* justify-content: center; */
}

/* /* categoryni va routni */
.chosen_page .category_top_frame {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chosen_page .category_top_frame .container {
  display: flex;
  flex-direction: column;
}

.chosen_page .container .category_top {
  width: 100%;
  height: 50px;
  /* margin: 20px 0; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chosen_page .container .category_top a {
  left: 0px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgb(4, 30, 66);
  cursor: pointer;
}

.chosen_page .container .category_top a:hover {
  border-bottom: 2px solid rgb(4, 30, 66);
}

.chosen_page .container .header_router {
  width: 35%;
  height: 40px;
  /* margin-top: 30px; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chosen_page .header_router a {
  margin: 0px 10px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(4, 30, 66);
  cursor: pointer;
}

.chosen_page .header_router a:hover {
  color: #f5c34b;
}

/* .container pagionation */
.container .pagionation_box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .pagination_main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container .pagination_main img {
  cursor: pointer;
}
.container .pagionation_box .pagination_dot {
  margin: 0px 20px;
  display: flex;
  flex-direction: row;
}

.container .pagination_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid #112137; */
  border-radius: 50%;
}

.container .pagination_dot .dot.active {
  border: 2px solid #112137;
}

.container .pagination_dot .dot div {
  width: 4px;
  height: 4px;
  background-color: #112137;
}

.hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;

  background-color: #041e42;
}

/* cotegory top avza boshida 2 chetgan joyash */
.selling_product_frame {
  width: 100%;
  height: auto;
  margin-top: 60px;
  position: relative;

  display: flex;
  justify-content: center;
}
.selling_product_frame .container {
  width: 1320px;
  height: 576px;

  flex-direction: column;
}

.home_page {
  padding: bottom 60px;
  display: flex;
  flex-direction: column;
}

.container .category_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .category_top strong {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #041e42;
}

.container .category_top div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .category_top span {
  margin-bottom: 35px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}

.container .category_top a {
  /* margin-left: 30px; */
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-transform: capitalize;

  color: #041e42;
}

.container .category_top a:hover {
  border-bottom: 2px solid #041e42;
}

/* next prev box */
.container .product_wrapper_next_box {
  width: 50px;
  top: 50%;
}

.container .product_wrapper_next_box img {
  position: relative;
  width: 50px;
  top: 50%;
  margin-left: -20px;
  cursor: pointer;
}

/* product card narxlari yulduzlari */
.container .product_content_box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.container .product_content_box .product_title {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  color: #626974;
}

.container .product_content_box .product_desc {
  margin-top: 7px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #041e42;
}

.container .product_content_box .review_box {
  margin-top: 7px;
  width: 157px;
  height: 22px;

  display: flex;
  flex-direction: column;
}

.container .product_box .price_box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .price_box strong {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #041e42;
}

.container .price_box small {
  margin-left: 10px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: line-through;
  color: #041e42;
}
.sell_wrapper .sell_product_boxes {
  width: 1300px;
  height: 400px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.sell_product_boxes .sell_product_box {
  width: 220px;
  height: 392px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.sell_product_box .product_img {
  width: 100%;
  height: 220px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sell_product_boxes .product_content_box {
  width: 179px;
  height: 149px;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.sell_product_boxes .product_content_box a {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}
/* sell frame */
.sell_frame {
  margin-top: 90px;
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  /* background-color: yellow; */
}

.sell_frame .container {
  flex-direction: column;
  /* background-color: yellow; */
}

.sell_frame .container .sell_box_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.sell_frame .sell_box_top h1 {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #041e42;
}

.sell_frame .sell_box_top a {
  width: auto;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin-bottom: 30px; */
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}

.sell_frame .sell_box_top a:hover {
  border-bottom: 2px solid #041e42;
}

.sell_frame .container .sell_box_bot {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sell_frame .sell_box_bot .sell_box_bot_material {
  width: 142px;
  height: auto;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.sell_frame .sell_box_bot_material .sell_box_bot_img {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #eaeaea;
  border-radius: 50%;
}

.sell_frame .sell_box_bot_material span {
  margin-top: 20px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  text-align: center;

  color: #041e42;
}

.container {
  position: relative;
  padding: 20px 0px 14px;
  width: 1320px;
  height: auto;
  display: flex;
  /* flex-direction: column; */
}

/* navbar qismi */
.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #443297;
}

.navbar_frame .container {
  position: relative;
  padding: 20px 0px 14px;
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.navbar_frame .navbar_top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;

  /* background-color: red; */
}

.navbar_frame.navbar_top > a img {
  width: 117px;
  margin-right: 76px;
  height: 36px;
}

.navbar_frame .navbar_top .nav_search_frame {
  width: 650px;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

.navbar_frame .navbar_top .search_box {
  padding: 10px 17px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .search_box .category_list {
  width: 166px;
  height: 30px;

  border-right: 1px solid #d6d6d6;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .category_list select {
  width: 140px;
  height: 30px;

  border: none;
  outline: none;

  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #041e42;
}

.navbar_frame .search_box input {
  margin-left: 12px;
  width: 387px;
  height: 22px;

  border: none;
  outline: none;

  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #626974;
}

.navbar_frame .nav_search_frame .search_icon_box {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5c34b;
  border-radius: 0px 6px 0px 6px;
}

.navbar_frame .search_icon_box {
  width: 20px;
  height: 20px;
}

.navbar_frame .navbar_top .nav_top_menu {
  margin-left: 59px;
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_frame .nav_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.navbar_frame .top_menu_box .box_icon_box {
  position: relative;
  margin-right: 16px;
  width: 54px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgb(251, 217, 217);
  border-radius: 6px;
}

.navbar_frame .box_icon_box img {
  width: 22px;
  height: 22px;
}

.navbar_frame .top_menu_box .box_info_box {
  display: flex;
  flex-direction: column;
}

.navbar_frame .box_info_box span {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #ffffff;
}

.navbar_frame .box_info_box strong {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.navbar_frame .box_icon_box .basket_count {
  position: absolute;
  width: 15px;
  height: 15px;
  top: -2px;
  right: -3px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f5c34b;
  border-radius: 50%;

  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 10px;

  color: #0b1e40;
}

.navbar_frame .navbar_bot {
  margin-top: 20px;
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;

  border-top: 1px solid #5746a1;
  /* background-color: blue; */
}

.navbar_frame .navbar_bot .navbar_bot_menu_box {
  margin-top: 10px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

.navbar_frame .navbar_bot_menu_box .browse_box {
  width: 500px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid #5746a1;
}

.navbar_frame .browse_box img {
  margin-right: 10px;
  width: 20px;
  height: 18px;
}

.navbar_frame .browse_box span {
  /* margin-right: 57px; */
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.navbar_frame .navbar_bot_menu_box .navbar_route_menu {
  margin-left: 8px;
  margin-right: 222px;
  width: auto;
  height: 40px;

  display: flex;
  flex-direction: row;

  /* border-left: 1px solid #5746a1; */
}

.navbar_frame .navbar_route_menu .router_menu {
  margin-right: 20px;
  width: auto;
  height: 41px;

  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.navbar_frame .router_menu a {
  margin-left: 20px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.navbar_frame .router_menu a.active {
  color: #f5c34b;
}

.navbar_frame .navbar_bot_menu_box .sorting_menu {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.navbar_frame .sorting_menu span {
  margin-right: 20px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

/* footer frame */
.footer_frame {
  position: relative;
  padding: 90px 0 20px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: #f3f5f6;
}

.footer_frame .container {
  position: relative;
  width: 1320px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.footer_frame .container .footer_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;

  /* background-color: red; */
}

.footer_frame .footer_top .footer_contact_box {
  width: 285px;
  height: 194px;

  display: flex;
  flex-direction: column;
}

.footer_frame .footer_contact_box .footer_spec_title {
  margin-bottom: 30px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: rgb(4, 30, 66);
}

.footer_frame .footer_contact_box .footer_contact_main {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.footer_frame .footer_contact_main img {
  width: 35px;
  height: 30px;
}

.footer_frame .footer_contact_main div {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.footer_frame .footer_contact_main div strong {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgb(4, 30, 66);
}

.footer_frame .footer_contact_main div span {
  margin-top: 10px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgb(4, 30, 66);
}

.footer_frame .footer_top .footer_support {
  margin-left: 30px;
  width: 193px;
  width: 246px;

  display: flex;
  flex-direction: column;
}

.footer_frame .footer_support .footer_spec_title {
  margin-bottom: 30px;

  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  height: 26px;
  color: rgb(4, 30, 66);
}

.footer_frame .footer_support a {
  margin-bottom: 5px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  color: rgb(4, 30, 66);
}

.footer_frame .footer_top .footer_media_box {
  margin-left: 30px;

  display: flex;
  flex-direction: column;
}

.footer_frame .footer_media_box .footer_media_main {
  display: flex;
  flex-direction: column;
}

.footer_frame .footer_media_main .media_box {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.footer_frame .media_box i {
  margin-right: 25px;
}

.footer_frame .footer_media_main .mobile_app_box {
  /* margin-bottom: 20px; */

  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer_frame .mobile_app_box .img {
  width: 24px;
  height: 16px;
}

.footer_frame .mobile_app_box span {
  margin-left: 20px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  color: rgb(4, 30, 66);
}

.footer_frame .mobile_app_box .card_box {
  width: 272px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_frame .container .footer_bot {
  margin-top: 90px;
  width: 100%;
  height: 60px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;

  border-top: 1px solid #eaeaea;
}

.footer_frame .footer_bot .footer_main {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.footer_frame .footer_main .footer_bottom_left {
  width: 940px;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: left;
}

.footer_frame .footer_bottom_left span {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  color: rgb(4, 30, 66);
}

.footer_frame .footer_bottom_left .span_bot {
  margin-left: 30px;
}

.footer_frame .footer_main .footer_bottom_right {
  width: 400px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_frame .footer_bottom_right .footer_select_box {
  /* padding: 10px 20px; */
  width: 180px;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;

  box-sizing: border-box;
  background-color: #ffffff;
}

.footer_frame .footer_frame .footer_select_box span {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  color: #626974;
}

.footer_frame .footer_select_box select {
  margin-left: 3px;
  width: 80px;
  height: 90%;

  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  color: #041e42;
}
