.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #443297;
}

.navbar_frame .container {
  position: relative;
  padding: 20px 0px 14px;
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.navbar_frame .navbar_top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;

  /* background-color: red; */
}

.navbar_frame.navbar_top > a img {
  width: 117px;
  margin-right: 76px;
  height: 36px;
}

.navbar_frame .navbar_top .nav_search_frame {
  width: 650px;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

.navbar_frame .navbar_top .search_box {
  padding: 10px 17px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .search_box .category_list {
  width: 166px;
  height: 30px;

  border-right: 1px solid #d6d6d6;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .category_list select {
  width: 140px;
  height: 30px;

  border: none;
  outline: none;

  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #041e42;
}

.navbar_frame .search_box input {
  margin-left: 12px;
  width: 387px;
  height: 22px;

  border: none;
  outline: none;

  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #626974;
}

.navbar_frame .nav_search_frame .search_icon_box {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5c34b;
  border-radius: 0px 6px 0px 6px;
}

.navbar_frame .search_icon_box {
  width: 20px;
  height: 20px;
}

.navbar_frame .navbar_top .nav_top_menu {
  margin-left: 59px;
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_frame .nav_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.navbar_frame .top_menu_box .box_icon_box {
  position: relative;
  margin-right: 16px;
  width: 54px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgb(251, 217, 217);
  border-radius: 6px;
}

.navbar_frame .box_icon_box img {
  width: 22px;
  height: 22px;
}

.navbar_frame .top_menu_box .box_info_box {
  display: flex;
  flex-direction: column;
}

.navbar_frame .box_info_box span {
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #ffffff;
}

.navbar_frame .box_info_box strong {
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.navbar_frame .box_icon_box .basket_count {
  position: absolute;
  width: 15px;
  height: 15px;
  top: -2px;
  right: -3px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f5c34b;
  border-radius: 50%;

  font-family: "jost";
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 10px;

  color: #0b1e40;
}

.navbar_frame .navbar_bot {
  margin-top: 20px;
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;

  border-top: 1px solid #5746a1;
  /* background-color: blue; */
}

.navbar_frame .navbar_bot .navbar_bot_menu_box {
  margin-top: 10px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

.navbar_frame .navbar_bot_menu_box .browse_box {
  width: 500px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid #5746a1;
}

.navbar_frame .browse_box img {
  margin-right: 10px;
  width: 20px;
  height: 18px;
}

.navbar_frame .browse_box span {
  /* margin-right: 57px; */
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.navbar_frame .navbar_bot_menu_box .navbar_route_menu {
  margin-left: 8px;
  margin-right: 280px;
  width: auto;
  height: 40px;

  display: flex;
  flex-direction: row;

  /* border-left: 1px solid #5746a1; */
}

.navbar_frame .navbar_route_menu .router_menu {
  margin-right: 20px;
  width: auto;
  height: 41px;

  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.navbar_frame .router_menu a {
  margin-left: 20px;
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.navbar_frame .router_menu a.active {
  color: #f5c34b;
}

.navbar_frame .navbar_bot_menu_box .sorting_menu {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.navbar_frame .sorting_menu span {
  margin-right: 20px;
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

/* homepage start */

.home_page {
  display: flex;
  flex-direction: column;
}

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header_frame .container {
  flex-direction: row;
}

.header_frame .container .header_left {
  position: relative;
  width: 875px;
  height: 588px;

  border-radius: 6px;
  background-image: url(../images/backgraund.png);
}

.header_frame .header_left .header_content {
  margin-top: 90px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.header_frame .header_content div {
  width: 104px;
  height: 34px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f5c34b;
  border-radius: 6px;

  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #041e42;
}

.header_frame .header_content span {
  width: 428px;

  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 87px;
  color: #ffffff;
}
.header_frame .header_content p {
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.header_frame .header_content a {
  margin-left: 14px;
  margin-top: 25px;
  width: 140px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  border-radius: 6px;

  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}

.header_frame .header_content img {
  position: absolute;
  right: 10px;
}

.header_frame .container .header_right {
  margin-left: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_frame .header_right .header_box {
  width: 422px;
  height: 240px;
  display: flex;
  flex-direction: row;

  border-radius: 5px;
  background: #f2f2f2;
}

.header_frame .header_right .box_left {
  margin-left: 30px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_frame .box_left span {
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #0053f6;
}

.header_frame .box_left p {
  margin: 10px 0;
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 22px;
  color: #041e42;
}

.header_frame .box_left p {
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}

.header_frame .box_left .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;

  background-color: #041e42;
}
.header_frame .box_right img {
  width: 100%;
  height: 100%;
}

.home_page .service_frame {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  /* background-color: yellow; */
}

.service_frame .container {
  flex-direction: row;
}

.container .service_box {
  width: 25%;
  height: 86px;

  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eaeaea;
}

.service_box img {
  width: 35px;
  height: 35px;
}

.service_box .service_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.service_content span {
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}

.service_content p {
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #626974;
}

/* sell frame */
.sell_frame {
  margin-top: 90px;
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  /* background-color: yellow; */
}

.sell_frame .container {
  flex-direction: column;
  /* background-color: yellow; */
}

.sell_frame .container .sell_box_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.sell_frame .sell_box_top h1 {
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #041e42;
}

.sell_frame .sell_box_top a {
  margin-bottom: 45px;
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}

.sell_frame .sell_box_top a:hover {
  border-bottom: 2px solid #041e42;
}

.sell_frame .container .sell_box_bot {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sell_frame .sell_box_bot .sell_box_bot_material {
  width: 142px;
  height: auto;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.sell_frame .sell_box_bot_material .sell_box_bot_img {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #eaeaea;
  border-radius: 50%;
}

.sell_frame .sell_box_bot_material span {
  margin-top: 20px;
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  text-align: center;

  color: #041e42;
}

/* selling_product_frame */

.selling_product_frame {
  width: 100%;
  height: auto;
  margin-top: 60px;
  position: relative;

  display: flex;
  justify-content: center;
}

.selling_product_frame .container {
  width: 1320px;
  height: 576px;

  flex-direction: column;
}

.selling_product_frame .container .category_top {
  width: 1253px;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.selling_product_frame .category_top strong {
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #041e42;
}

.selling_product_frame .category_top span {
  margin-bottom: 35px;
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}

.selling_product_frame .category_top span:hover {
  border-bottom: 2px solid #041e42;
}

.selling_product_frame .container .product_wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.selling_product_frame .product_wrapper .product_wrapper_next_box {
  width: 25px;
}
.selling_product_frame .product_wrapper_next_box img {
  position: absolute;
  margin-left: -20px;
  top: 50%;
  cursor: pointer;
}

.selling_product_frame .product_wrapper .product_boxes {
  margin-left: 10px;
  width: 1224px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.selling_product_frame .product_boxes .product_box {
  margin: 10px;
  width: 306px;
  height: 452px;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.selling_product_frame .product_box .product_img_box {
  width: 100%;
  height: 280px;
}

.selling_product_frame .product_img_box .hover_box {
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
}

.selling_product_frame .product_img_box:hover .hover_box {
  display: flex;
}

.selling_product_frame .hover_box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;

  background: #0053f6;
  box-shadow: 0px 5px 20px rgba(o, 83, 246, 0, 1);
  border-radius: 6px;

  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}

.selling_product_frame .product_box .product_content_box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.selling_product_frame .product_content_box .product_title {
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  color: #626974;
}

.selling_product_frame .product_content_box .product_desc {
  margin-top: 7px;
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #041e42;
}

.selling_product_frame .product_content_box .review_box {
  margin-top: 7px;

  display: flex;
  flex-direction: column;
}

.selling_product_frame .product_box .price_box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selling_product_frame .price_box strong {
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #041e42;
}

.selling_product_frame .price_box small {
  margin-left: 10px;
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: line-through;
  color: #041e42;
}

/* .container pagionation */
.container .pagionation_box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .pagination_main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container .pagination_main img {
  cursor: pointer;
}
.container .pagionation_box .pagination_dot {
  margin: 0px 20px;
  display: flex;
  flex-direction: row;
}

.container .pagination_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid #112137; */
  border-radius: 50%;
}

.container .pagination_dot .dot.active {
  border: 2px solid #112137;
}

.container .pagination_dot .dot div {
  width: 4px;
  height: 4px;
  background-color: #112137;
}

/*  adv  farame qismi */
.home_page .adv_frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5edff;
}

.home_page .adv_frame .container {
  width: 1113px;
  height: 26px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home_page .adv_frame a {
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #0053f6;
}

/* spec product frame */
.home_page .spec_product_frame {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 90px;

  display: flex;
  justify-content: center;
}

.spec_product_frame .container {
  flex-direction: column;
}

.spec_product_frame .container .spec_product_box {
  position: relative;
  margin-top: 30px;
  width: 1316px;
  height: 368px;

  display: flex;
  flex-direction: row;
}

.spec_product_frame .spec_product_box .spec_left_box {
  position: relative;
  padding: 30px;
  width: 664px;
  height: 369px;

  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  background-color: rgb(243, 245, 246);
  border: none;
  border-radius: 8px;
}

.spec_product_frame .spec_left_box .spec_left_box_content {
  width: 161px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.spec_product_frame .spec_left_box_content span {
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgb(4, 30, 66);
}

.spec_product_frame .spec_left_box_content p {
  margin: 7px 0;
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
  color: rgb(4, 30, 66);
}

.spec_product_frame .spec_left_box_content a {
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}

.spec_product_frame .spec_left_box_content a:hover {
  border-bottom: 2px solid #041e42;
}

.spec_product_frame .spec_left_box img {
  position: absolute;
  width: 322px;
  height: 309px;
  right: 5%;
  border-radius: 5px;
}

.spec_product_frame .spec_product_box .right_product_box {
  position: relative;
  margin-left: 33px;

  width: 620px;
  height: 368px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.spec_product_frame .right_product_box .spec_right_box {
  position: relative;
  margin-bottom: 22px;
  padding: 30px;
  width: 293px;
  height: 170px;

  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  border-radius: 6px;
  background-color: rgb(243, 245, 246);
}

.spec_product_frame .spec_right_box:nth-child(odd) {
  margin-right: 30px;
}

.spec_product_frame .spec_right_box_content {
  width: 72px;
  height: 51px;

  display: flex;
  flex-direction: column;
}

.spec_product_frame .spec_right_box_content strong {
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgb(4, 30, 66);
}

.spec_product_frame .spec_right_box_content span {
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: rgb(98, 105, 116);
}

.spec_product_frame .spec_right_box img {
  position: absolute;
  width: 95px;
  height: 107px;

  bottom: 15px;
  right: 30px;
  border-radius: 5px;
}

/* TV frame */

.home_page .tv_frame {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 90px;

  display: flex;
  justify-content: center;
}

.tv_frame .container {
  flex-direction: column;
}

.container .tv_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tv_wrapper .tv_product_boxes {
  width: 1300px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.tv_product_boxes .tv_product_box {
  width: 260px;
  height: 452px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffffff;
}

.tv_product_box .product_img {
  width: 100%;
  height: 280px;

  display: flex;
  justify-content: center;
  align-items: center;
}
