.shop_page_ {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop_page_ .category_top_frame {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.shop_page_ .category_top_frame .container {
  display: flex;
  flex-direction: column;
}

.shop_page_ .container .category_top {
  width: 100%;
  height: 50px;
  margin: 20px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop_page_ .container .category_top a {
  left: 0px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgb(4, 30, 66);
  cursor: pointer;
}

.shop_page_ .container .category_top a:hover {
  border-bottom: 2px solid rgb(4, 30, 66);
}

.shop_page_ .container .header_router {
  width: 35%;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop_page_ .header_router a {
  margin: 0px 10px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(4, 30, 66);
  cursor: pointer;
}

.shop_page_ .header_router a:hover {
  color: #f5c34b;
}
.shop_page_ .header_frame {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header_frame .container {
  position: relative;
  margin: 20px 0px;
  width: 1320px;
  height: 425px;

  display: flex;
  flex-direction: column;

  border: none;
  outline: none;
  border-radius: 7px;

  background-image: url(../images/shop.header/women.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header_frame .container .content {
  position: absolute;
  width: 366px;
  height: 217px;
  margin: 47px 0 0 75px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_frame .content p {
  width: 366px;
  height: 75px;

  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  color: rgb(4, 30, 66);
  cursor: pointer;
}

.header_frame .content span {
  width: 365px;
  height: 52px;
  margin-top: 18px;

  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgb(4, 30, 66);
  cursor: pointer;
}

.header_frame .content a {
  width: 145px;
  height: 52px;
  margin-top: 18px;
  /* padding: 15px 35px; */

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  outline: none;
  border-radius: 5px;
  background-color: rgb(245, 195, 75);

  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgb(4, 30, 66);
  cursor: pointer;
}

.header_frame .content a:hover {
  color: #ffffff;
  border-bottom: 1px solid rgb(4, 30, 66);
}

.header_frame .container .pagionation_box {
  position: absolute;
  width: 100%;
  height: auto;
  margin-left: 75px;
  bottom: 37px;

  display: flex;
  flex-direction: row;
  justify-content: start;
  /* align-items: start; */
}

.header_frame .container .pagination_main {
  width: 170px;
  height: 22px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* bremd frame */
.shop_page_ .brands_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.brands_frame .container {
  flex-direction: column;
}

.container .spec_title {
  display: flex;
  flex-direction: row;
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  color: rgb(4, 30, 66);
  cursor: pointer;
}

.container .brands_wrapper {
  margin-top: 30px;

  display: flex;
  flex-direction: row;
}

.brands_wrapper .brand_box {
  margin-right: 20px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  padding: 15px 35px;
  border: 1px solid #eaeaea;
  border-radius: 6px;

  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(4, 30, 66);
  cursor: pointer;

  color: rgb(4, 30, 66);
}

.brands_wrapper .brand_box.active {
  background: #443297;
  color: #ffffff;
}

.brands_wrapper .brand_box:hover {
  background: #443297;
  color: #ffffff;
  cursor: pointer;
}

/* sell frame */
.shop_page_ .sell_frame {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 90px;

  display: flex;
  justify-content: center;
}

.shop_page_ .sell_frame .container {
  flex-direction: column;
}

.shop_page_ .container .category_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sell_frame .pagionation_box {
  margin-top: -10px;
  width: 169px;
  height: 24;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sell_frame .container .sell_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sell_frame .sell_wrapper .sell_product_boxes {
  width: 1300px;
  height: 400px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.sell_frame .sell_product_boxes .sell_product_box {
  width: 220px;
  height: 392px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.sell_frame .sell_product_box .product_img {
  width: 100%;
  height: 220px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sell_product_boxes .product_content_box {
  width: 179px;
  height: 149px;
  padding: 5px 22px;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.sell_product_boxes .product_content_box a {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}

/* loptops frame */
.shop_page_ .loptops_frame {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loptops_frame .container {
  margin-top: 90px;
  width: 1320px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.loptops_frame .container .category_tops {
  width: 100%;
  height: 83px;

  display: flex;
  flex-direction: column;

  border-bottom: 1px solid #eaeaea;
}

.loptops_frame .category_tops strong {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: rgb(4, 30, 66);
}

.loptops_frame .category_tops span {
  margin-bottom: 20px;

  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: rgb(4, 30, 66);
}

.loptops_frame .container .category_bottom_boxs {
  margin-top: 20px;
  width: 350px;
  height: 36px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border: none;
}

.loptops_frame .category_select_box select {
  width: 97px;
  height: 35px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: rgb(243, 245, 246);

  border: none;
  border-radius: 20px;
}

.loptops_frame .category_select_box option {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}

.loptops_frame .container .sell_product_boxes {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.loptops_frame .sell_product_boxes .sell_product_box {
  width: 260px;
  height: 440px;
}

.loptops_frame .sell_product_box .product_img {
  width: 253px;
  height: 280px;
  padding: 25px 18px;
}

.loptops_frame .container .sell_product_box .product_content_box {
  width: 250px;
  height: 148px;

  display: flex;
  flex-direction: column;
}

.loptops_frame .container .pagionation_box {
  margin-top: 70px;
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loptops_frame .container .pagionation_box .pagination_main {
  width: 460px;
  height: 50px;

  display: flex;
  flex-direction: row;
}

.loptops_frame .pagination_main img {
  width: 50px;
  height: 50px;

  border: 1px solid #eaeaea;
  border-radius: 50%;
}

.loptops_frame .pagination_dot {
  width: 340px;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.loptops_frame .pagination_dot .dot {
  width: 40px;
  height: 40px;
}

.loptops_frame .pagination_dot .dot.active {
  border: none;
  background-color: #f5c34b;
  border-radius: 50%;
}

.loptops_frame .pagination_dot .dot:hover {
  border: none;
  background-color: #eaeaea;
  border-radius: 50%;
}
