.shop_page {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop_page .category_top_frame {
  position: relative;
  /* margin-top: 47px; */
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  border-bottom: 1px solid rgb(154, 172, 196);
}

.shop_page .category_top_frame .container {
  display: flex;
  flex-direction: row;
}

.shop_page .container .category_top {
  width: 100%;
  height: 22px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop_page .container .category_top a {
  left: 0px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgb(4, 30, 66);
  cursor: pointer;
}

.shop_page .container .category_top a:hover {
  border-bottom: 2px solid rgb(4, 30, 66);
}

.shop_page .header_frame {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header_frame .container {
  position: relative;
  margin: 20px 0px;
  width: 1320px;
  height: 425px;

  display: flex;
  flex-direction: column;

  border: none;
  outline: none;
  border-radius: 7px;

  background-image: url(../images/shop.header/women.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header_frame .container .content {
  position: absolute;
  width: 366px;
  height: 217px;
  margin: 47px 0 0 75px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_frame .content p {
  width: 366px;
  height: 75px;

  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  color: rgb(4, 30, 66);
  cursor: pointer;
}

.header_frame .content span {
  width: 365px;
  height: 52px;
  margin-top: 18px;

  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgb(4, 30, 66);
  cursor: pointer;
}

.header_frame .content a {
  width: 145px;
  height: 52px;
  margin-top: 18px;
  /* padding: 15px 35px; */

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  outline: none;
  border-radius: 5px;
  background-color: rgb(245, 195, 75);

  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgb(4, 30, 66);
  cursor: pointer;
}

.header_frame .content a:hover {
  color: #ffffff;
  border-bottom: 1px solid rgb(4, 30, 66);
}

.header_frame .container .pagionation_box {
  position: absolute;
  width: 100%;
  height: auto;
  margin-left: 75px;
  bottom: 37px;

  display: flex;
  flex-direction: row;
  justify-content: start;
  /* align-items: start; */
}

.header_frame .container .pagination_main {
  width: 170px;
  height: 22px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sell_frame {
  margin-top: 90px;
  position: relative;
  width: 100%;
  height: 347px;

  display: flex;
  justify-content: center;
  /* background-color: yellow; */
}

.sell_frame .container {
  flex-direction: column;
  /* background-color: yellow; */
}

.shop_page .brands_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.brands_frame .container {
  flex-direction: column;
}

.container .spec_title {
  display: flex;
  flex-direction: row;
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  color: rgb(4, 30, 66);
  cursor: pointer;
}

.container .brands_wrapper {
  margin-top: 30px;

  display: flex;
  flex-direction: row;
}

.brands_wrapper .brand_box {
  margin-right: 20px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  padding: 15px 35px;
  border: 1px solid #eaeaea;
  border-radius: 6px;

  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(4, 30, 66);
  cursor: pointer;

  color: rgb(4, 30, 66);
}

.brands_wrapper .brand_box.active {
  background: #443297;
  color: #ffffff;
}

.brands_wrapper .brand_box:hover {
  background: #443297;
  color: #ffffff;
  cursor: pointer;
}
