.cart_frame {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aqua;

  .container {
    margin-top: 30px;
    width: 1320px;
    height: auto;

    display: flex;
    flex-direction: column;

    .cart_table {
      width: 100%;
      height: auto;

      display: flex;
      flex-direction: row;

      .cart_left {
        width: 872px;
        height: 619px;

        display: flex;
        flex-direction: column;

        .table_top {
          width: 870px;
          height: 70px;

          display: flex;
          flex-direction: row;
          background-color: #f3f5f6;
        }
        .table_bott {
          width: 863px;
          height: 488px;

          display: flex;
          flex-direction: column;

          img {
            width: 111px;
            height: 120px;

            display: flex;
            justify-content: center;
            align-items: center;
          }
          .td_content {
            width: 181px;
            height: 122px;

            span {
              font-family: var(--font);
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 28px;
              color: rgb(4, 30, 66);
            }
          }
          .td_3 {
            width: 102px;
            height: 42px;

            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
